{% extends "layout.html" %}


{% block content %}
<section class="about-us">

    <div class="row">
        <div class="about-col">
            <h1>About Us</h1>
            <p>
                We create more than just a place — we create an experience. <br>

                Our team believes that true inspiration starts with atmosphere.
                Every detail — from the design to the people — is made to bring comfort, connection, and creativity together. <br>

                We value simple things done with care: good taste, good company, and good energy. <br>
                Here, every moment matters — whether you come to relax, work, or get inspired. <br>

                Welcome to the space where ideas and people come to life. <br>
            </p>
            <a href="" class="hero-btn brown-btn">EXPLORE NOW</a>
        </div>

        <div class="about-col">
            <img src="/static/imgs/about.jpeg">
        </div>
        
    </div>

</section>


{% endblock content %}