{% extends "layout.html" %}

{% block header_id %} id="contact-header" {% endblock header_id %}
{% block content %}
<section class="location">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d507.1872601958209!2d24.745148070777933!3d59.43725999986525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469293621404741f%3A0x47099ed013fa8919!2z0KLQsNC70LvQuNC90YHQutCw0Y8g0YDQsNGC0YPRiNCw!5e0!3m2!1sru!2see!4v1762359444037!5m2!1sru!2see"
     width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>



<section class="contact-us">

    <div class="row">
        <div class="contact-col">
            <div>
                <i class="fa-solid fa-house"></i>
                <span>
                    <h5>XYZ Road, ABC Building</h5>
                    <p>Tallinn, Harjumaa, EE</p>
                </span>
            </div>
            <div>
                <i class="fa-solid fa-phone"></i>
                <span>
                    <h5>+372 123456789</h5>
                    <p>Monday to Saturday, 10AM to 6 PM</p>
                </span>
            </div>
            <div>
                <i class="fa-regular fa-envelope"></i>
                <span>
                    <h5>info@somekohfik.com</h5>
                    <p>Email us your query</p>
                </span>
            </div> 
        </div>
<div class="contact-col">

    <form>
        <input autocomplete="off" name="name" type="text" placeholder="Enter your name" required>
                    <input autocomplete="off" name="email" type="email" placeholder="Enter email address" required>
                    <select name="coffee" required>
                        <option disabled selected value="">Choose your favorite coffee</option>
                        <option value="Cappuccino">Cappuccino</option>
                        <option value="Espresso">Espresso</option>
                        <option value="Americano">Americano</option>
                        <option value="Mocha">Mocha</option>
                        <option value="Flat White">Flat White</option>
                        <option value="Macchiato">Macchiato</option>
                        <option value="Ristretto">Ristretto</option>
                        <option value="Black">Black</option>
                        <option value="Affogato">Affogato</option>
                        <option value="Turkish">Turkish</option>
                        <option value="Other">Other</option>
                    </select>
                    <textarea autocomplete="off" name="comment" rows="8" placeholder="Message" required></textarea>
                    <button type="submit" class="hero-btn brown-btn">Send Message</button>
    </form>

</div>
    </div>

</section>


{% endblock content %}