{% extends "layout.html" %}


{% block header_id %} id="menu-header" {% endblock header_id %}
{% block content %}
<section class="menu">
    <h1>Our menu</h1>
    <p>We spent years perfecting these recipes so you can say, “Yeah, it’s pretty good.”</p>

    <div class="row">
        <div class="course-col">
            <h3>Sweet Lies</h3>
            <p>Our desserts won’t fix your life, but they’ll make you forget for a few bites.</p>
        </div>

        <div class="course-col">
            <h3>Comfort Calories</h3>
            <p>Warm pastries made with love, butter, and a total lack of regret.</p>
        </div>
            
        <div class="course-col">
            <h3>Little Moments of Sanity</h3>
            <p>Take five minutes. Sip. Breathe. Pretend you’ve got everything under control.</p>
        </div>
    </div>
</section>



<section class="facilities">
    <h1>Our Facilities</h1>
    <p>Cozy chairs, strong coffee, and Wi-Fi that actually works.</p>

    <div class="row">
        <div class="facilities-col">
            <img src="{{ url_for('static', filename='imgs/wifi.png') }}">
            <h3>Free Wi-Fi</h3>
            <p>Fast enough to stream, scroll, and “work from café” convincingly.</p>
        </div>

        <div class="facilities-col">
            <img src="{{ url_for('static', filename='imgs/pets.jpg') }}">
            <h3>Pets allowed</h3>
            <p>Dogs, cats, emotional support lizards — all welcome (as long as they behave better than most humans).</p>
        </div>

        <div class="facilities-col">
            <img src="{{ url_for('static', filename='imgs/music.jpg') }}">
            <h3>Music</h3>
            <p>Handpicked playlists to match your caffeine levels — from chill mornings to existential afternoons.</p>
        </div>
    </div>
</section>


{% endblock content %}